<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h3 class="text-center">退会について</h3>
      <p>下記の削除をクリックするとご自身のアカウントがなくなり、退会することができます。<br>
         アカウント削除後は、本サービスを一切利用することができなくなります。<br>
         なお、投稿した記事は教育の向上のため、削除されず残ります。その際、先生の名前は表示されません。記事を残したくない場合はご自身で削除してください。<br>
         退会を希望する場合は、「退会する」をクリックしてください。
      </p>

      <div class="text-center">
        <%= link_to "退会しない", root_path, class: "btn btn-primary" %></span>
        <%= link_to "退会する", delete_account_user_path(@user), data: { confirm: "退会後は本サービスを一切ご利用することができなくなります。本当によろしいですか?" }, method: :patch, class: "btn btn-danger" %></span>
      </div>
    </div>
  </div>
</div>