<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/shared/user_category' %>
    </div>
    <div class="col-md-8">
        <h2><%= @title %></h2>
      <%= render 'users/shared/user_index', users:@users %>
    </div>
  </div>
</div>

