<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'users/shared/user_category' %>
    </div>
    <div class="col-md-8">
      <h1><%= @title %></h1>
      <span>1~10件表示 (全<%= @users.count %>件)</span>
      <%= render 'users/shared/user_index', users:@users %>
    </div>
  </div>
</div>