<div class="container">
  <div class="row">
    <div class="col-md-2">
      <section>
        <%= render 'users/shared/user_info', user: @user, total_likes: @total_likes %>
      <% if @user == current_user %>
        <%= render 'users/shared/maybe_friends', users: @users %>
      <% end %>
      </section>
    </div>
    <div class="col-md-10">
      
      <!-- メニュータブ -->
      <section>
        <%= render 'users/shared/mypage_tab', path: @path, user: @user %>
      </section>

      <!-- 相談一覧 -->
      <section>
        <%= render 'users/shared/counsel_index', counsels: @counsels %>
      </section>
    </div>
  </div>
</div>