<div class="container">
  <div class="row">
    <h3><strong>アカウントを削除しますか？</strong></h3>
    <p>アカウント削除後は、一切の本サービスを利用することができなくなります。<br>
      なお、投稿した記事は残ります。削除したい場合はご自身でご削除ください。<br>
      アカウントを削除する場合は、「退会する」をクリックしてください。
    </p>
  </div>
  <div class="row">
    <span><%= link_to "退会しない", edit_user_registration_path, class: "btn btn-primary" %></span>
    <span><%= link_to "削除する", registration_path(resource_name), data: { confirm: "削除後は本サービスを一切ご利用することができなくなります。本当によろしいですか?" }, method: :delete, class: "btn btn-danger" %></span>
  </div>
</div>