<div class="container">
  <% if admin_signed_in? %>
      <div class="row">
        <div class="col-md-12">
          <h1>管理者画面</h1>
          <span><%= link_to "先生一覧", admins_users_path, class: "btn btn-default" %></span>
          <span><%= link_to "授業アイデア一覧", admins_lessons_path, class: "btn btn-default" %></span>
          <span><%= link_to "授業コメント一覧", "#", class: "btn btn-default" %></span>
        </div>
      </div>
  <% end %>
</div>