<% if current_user != user %>
  <% if user.followed_by?(current_user) %>
    <span>
      <%= link_to user_relationships_path(user), method: :delete, remote: true, class: "btn btn-xs btn-default" do %>
      <i class="fas fa-user-minus"></i>
      <% end %>
    </span>
  <% else %>
    <span>
      <%= link_to user_relationships_path(user), method: :post, remote: true, class: "btn btn-xs btn-default" do %>
      <i class="fas fa-user-plus"></i>
      <% end %>
    </span>
  <% end %>
<% end %>

<%= flash[:notice] %>