<div class="form-group">
  <%= form_with model: message, url: user_messages_path, local: true do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "メッセージを入力してください", rows: 5, class: "form-control" %>
    </div>
    <div class="action text-right">
      <%= f.submit '送信', class: 'btn btn-success' %>
    </div>
  <% end %>
</div>