<%= form_with url: search_path, method: :get, local: true, class: "form-inline" do |f| %>
  <div class="form-group">
    <%= f.select 'search[model]', {"先生"=>"User", "授業アイデア" => "Lesson", "悩み相談" => "Counsel"}, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field 'search[keyword]', placeholder: "キーワードを入力", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit '検索', class: "btn btn-info" %>
  </div>
<% end %>
