<% if current_user != user %>
  <% if user.followed_by?(current_user) %>
    <span><%= link_to "－教員仲間", user_relationships_path(user), method: :delete, class: "btn btn-secondary" %></span>
  <% else %>
    <span><%= link_to "＋教員仲間", user_relationships_path(user), method: :post, class: "btn btn-outline-secondary" %></span>
  <% end %>
<% end %>