<div class="search-form">
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field 'search[keyword]' %>
    <%= f.select 'search[model]', {"User"=>"先生", "Lesson" => "授業アイデア"}%>
    <%= f.submit '検索' %>
  <% end %>
</div>