<div class="container">
  <div class="row">
    <div class="col-md-2">
    <!-- カテゴリー検索 -->
    <section>
      <%= render 'users/shared/lesson_category' %>
    </section>
    </div>

     <!-- 授業アイデア一覧 -->
    <div class="col-md-10">
      <section>
        <div>
          <h2><%= @title %></h2>
        </div>
        <%= render 'users/shared/lesson_index', lessons: @lessons %>
      </section>
    </div>
  </div>
</div>