<div class="container">
  <div class="row">
    <div class="col-md-2">
    <!-- カテゴリー検索 -->
    <section>
      <%= render 'users/shared/lesson_category' %>
    </section>
    </div>

     <!-- 授業アイデア一覧 -->
    <div class="col-md-10">
      <section>
      <h2><%= @title %>一覧</h2>
      <span>1~10件表示 (全<%= @lessons.count %>件)</span>
      <%= render 'users/shared/lesson_index', lessons: @lessons %>
      </section>
    </div>
  </div>
</div>