<section>
  <table class="table table-hover text-left">
    <thead>
      <tr class="info">
        <th>カテゴリから探す</th>
      </tr>
    </thead>
    <tbody>
        <% Counsel.categories.keys.each do |category| %>
        <tr>
          <td>
           <%= link_to category, admins_category_counsels_path(category: category) %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <%= link_to "全て", admins_counsels_path %>
          </td>
        </tr>
    </tbody>
  </table>


</section>

