/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap-sprockets";
  @import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  width: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-weight: 700;
}

//header
header {
  height: 50px;
  width: 100%;
}

.navbar {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF)
}

.logo-image {
  width: 300px;
  height: 50px;
  padding: 10px 20px 0 0;
}

.search-bar {
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.nav-list {
  height: 50px;
  }

.nav-list-item {
  margin-top: 15px;
}


//main
main {
  width: 100%;
  height: 100%;
}

.notice {
  color: green;
  text-align: center;
}

.alert {
  color: red;
  text-align: center;
}

.about-image1 {
  background-image: url(top6.jpg);
}

.about-image2 {
  background-image: url(top2.jpg);
}

.about-image3 {
  background-image: url(top3.jpg);
}

.about-image4 {
  background-image: url(top4.jpg);
}

.about-image5 {
  background-image: url(top5.jpg);
}

footer {
  color: white;
  width: 100%;
  height: 90px;
  margin-top: 40px;
  text-align: right;
  line-height: 90px;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF)
}